@import "./reset.scss";
#app {
    color: #000;
    margin: 20px 30px;
    .title:hover {
        color: cornflowerblue;
    }
    input {
        height: 24px;
        line-height: 24px;
        width: 200px;
    }
}